.distills {
    display: flex;
    flex-direction: column;
    background: url('../Images/distillery1.jpg') no-repeat fixed;
    background-size: cover;
}

.distills_container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    color: white;
    text-shadow: 1px 1px black;

}
