.landing_page {
    display: flex;
    flex-direction: column;
}

.lp_container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.background_container {
    background: url("../Images/distillery1.jpg") no-repeat fixed;
    background-size: cover;
}

.box {
    border-radius: 5px;
    border: 2px solid black;
    padding: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
}

i {
    font-size: xx-large;
    padding-bottom: 10px;
}

@media only screen and (min-width: 760px) {
    .lp_container {
        flex-direction: row;
    }


    .box {
        width: 33.33%;
    }
}