.view_spirits {
    display: flex;
    flex-direction: column;
}

.spirit_menu {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.add_spirit_div {
    margin-bottom: 50px;
}