.view_spirits {
    display: flex;
    flex-direction: column;
    background: url('../Images/spirit2.jpg') no-repeat fixed;
    background-size: cover;
}

.spirit_menu {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    list-style-type: none;
}

.add_spirit_div {
    margin-bottom: 50px;
}

.spirit_li {
    width: 90%;
}

@media only screen and (min-width: 760px) {
    .spirit_li {
        width: 75%;
    }
}