.ham_menu {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
}

.ham_link {
    text-decoration: none;
    color: white;
}

.main-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: green;
    text-align: center;
    
}

.main-navigation.open {
    transform: translateX(0);
}


@media screen and (min-width: 760px) {
    .ham_menu {
        display: none;
    }
    
}