.about {
    display: flex;
    flex-direction: column;
    background: url('../Images/willow.jpg') no-repeat fixed;
    background-size: cover;
}

.about_wl {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_box {
    background-color: black;
    border-radius: 7px;
    color: white;
    margin-bottom: 25px;
    width: 90%;
    padding: 5px 5px;
    max-width: 500px;
}