.Nav {
    text-align: center;
    position: fixed;
    border-bottom: black solid;
    width: 100%;
    background-color: black;
    color: white;
}

.menu {
    list-style-type: none;   
    display: flex;
    justify-content: space-evenly;
    padding-right: 25px;
}

.h1_link {
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

.h1_link:hover {
    opacity: 0.7;
}

.menu_link {
    text-decoration: none;
    color: white;
    padding: 30px;
    transition-duration: 0.4s;
}

.menu_link:hover {
    color: green;
}

@media screen and (max-width: 760px) {
    .menu {
        display: none;
    }
}